services:
  - docker

before_install:
  - git clone https://github.com/mandrewcito/signalrcore-containertestservers containers
  - pip install -r requirements.txt
  - pip install coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
install:
  - cd containers
  - docker-compose up -d
  - docker ps
  - cd ..
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6" 
  - "3.7"
  - "3.8"
# command to run tests
script:
- coverage -m unittest discover -s test/ -p "*_test.py"
