# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Integration tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: git clone https://github.com/mandrewcito/signalrcore-containertestservers containers
    - name: run SignalR server and Azure function
      env:
        SIGNALRCORE_AZURE_CONNECTION_STRING=${{ secrets.SIGNALRCORE_AZURE_CONNECTION_STRING }}
      run: |
        docker compose -f containers/docker-compose.yml up -d
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
        pip install codecov
    - name: Test and coverage
      run: |
         # Test
         pytest --junitxml=reports/junit.xml --cov=. --cov-report=xml:coverage.xml --cov-report=term
    - name: Upload test results to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: |
          coverage.xml
          reports/junit.xml
        fail_ci_if_error: true